PORT=5001

MONGODB_URI=mongodb+srv://a46326838_db_user:Sneha2005@cluster0.swbtf6a.mongodb.net/sivakasi_boutique?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=SivakasiBoutique@2026SecureJWTKey
JWT_EXPIRE=30d
NODE_ENV=development
ADMIN_EMAIL=admin@sivakaasiboutique.com
ADMIN_PASSWORD=Admin@123
FRONTEND_URL=http://localhost:3000
ANTHROPIC_API_KEY=YOUR_ANTHROPIC_API_KEY